*{
    margin: 0px;
    padding: 0px;
}

.row{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.facebook-text {
    margin-right: 30px;
    margin-bottom: 14%;
}
.facebook-text h1{
    font-size: 4rem;
    color: rgb(24, 119, 242);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.facebook-text p{
    font-size: 1.8rem;
    margin-top: 10px;
}



/* *********************** */
.box{
    margin-left: 150px;
    border-radius: 10px;
    height: 340px;
    width: 390px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 3px #d9e3f1;
    margin-bottom: 6%;
    text-align: center;
    
}
input{
    display: block;
    width: 340px;
    height: 40px;
    margin: 15px auto;
    border-radius: 5px;
    caret-color: rgb(4, 23, 15);
   padding-left: 15px;
}
input::placeholder{
    padding: 12px;
}
.button{
    width: 340px;
    background-color:rgb(24, 119, 242) ;
    height: 40px;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.button:hover{
    transition: 0.5s;
    transform: scale(1.01);
}
.box a{
    color: rgb(24, 119, 242);
    text-decoration: none;
    
}
.box a:hover{
  
    text-decoration: underline;
    
}
.create{
    margin: 20px auto;
     width: 340px;
     border-top: 1px solid rgb(203, 192, 192);
}
.create button{
    width: 210px;
    height: 50px;
    margin-top: 30px;
    background-color: rgb(54, 164, 32);
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
}
.create button:hover{
    transition: 0.5s;
    transform: scale(1.01);
}
.faltu{
    margin-top: 50px;
    position: relative;

}
.faltu p a{
   color: black;
   font-weight: 600;

}
/* **************************responsivecss*************** */
@media(max-width:700px){
    .row{
        height: auto;
         display: block;
         text-align: center;
         width: 100%;
        margin: auto;
        
     }
     .facebook-text {
        width: 100%;
        margin: auto;
     }
     .facebook-text h1{
        padding-top: 2rem;
        font-size: 2.5rem;
        color: rgb(24, 119, 242);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .facebook-text p{
        padding-bottom: 2rem;
        font-size: 1rem;
        margin-top: 10px;
    }
     .container{
        height: 80vh;
        width: 100%;
        margin: auto;
    }
     .box form{
       padding: 1rem;
    }
    .box{
        border-radius: 10px;
        height: 50vh;
        width: 390px;
        margin: 20px auto auto auto;
        background-color:rgb(255, 255, 255);
        box-shadow: 0px 0px 5px 3px #d9e3f1;
        text-align: center;
    }
   
}